@{
    ViewBag.Title = "Home Page";
}


<section class="hero is-medium is-light is-bold is-fullwidth">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                PSM | Dev Connect
            </h1>
            <h2 class="subtitle">
                Modern Data Analysis for Developers
            </h2>
        </div>
    </div>
</section>